#p1 {

}

#p2 {
    position: static;
    /*by default */
    /* position: relative;
     position: fixed;
     position: absolute;
     position: sticky;*/
}

div {
    background-color: aqua;
    border: 4px solid black;
    margin: 10px;
    padding: 10px;
}

#div2 {
    position: fixed;
}

#div3 {
    position: absolute;
    top: 40px;
    /*position :relative*/
    /*same as static but we can use top right left bottom properties */
    /*top =10 means 10 px below the position it should have been*/
    /*top = 10px  is similar to bottom = -10px*/
    /*position: fixed;*/
    /*fixed according to view port*/
    /*top=10px means 10 below viewport top*/
    /*position: absolute;*/
    /*look for nearest parent that has fixed position according to it will be set*/
    /*position: sticky;*/
    /*only for chrome , things stick on top of page when you scroll*/
}
